.navigator-tab {
  width: 100%;
  background-color: #4644444d;
  display: block;
  position: relative;
  margin-bottom: 2.5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.navigator-text {
  display: block;
  padding: 0.5rem 1rem;
}
.Logo_image {
  z-index: 11;
  width: 50px;
  height: 55px;
  top: 50%;
  left: -83%;
  border-radius: 100%;
}
.from {
  border-radius: 5px;
  background-color: #f10a0a;
  padding: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p{
          color: aliceblue;
          text-align: center;
}
h2{
          color: aliceblue;
          text-align: center;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 249, 249);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.Page-Background {
  background-image: url(https://images.pexels.com/photos/614117/pexels-photo-614117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  overflow: hidden;
}

